.layout-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.0rem;
    background-color: var(--content-bg);
}

/*
.layout-content:has(#map) ~ .layout-footer {
    display: none;
}
*/

.layout-content:has(#map) {
    padding: 0;
    height: calc(100vh - 4rem - 3rem); /* topbar + footer yüksekliği çıkarıldı */
    min-height: calc(100vh - 4rem - 3rem);
    overflow: hidden;
}


/* Footer görünür */
.layout-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem; /* üst-alt paddingi küçülttük */
    background-color: var(--content-bg);
    height: 15px; /* sabit footer yüksekliği */
    box-sizing: border-box;
}


//bar loading
:host ::ng-deep .p-progressbar {
    height: 6px; /* footer’a sığacak yükseklik */
    border-radius: 3px;
    margin: 0; /* margin-top kaldırıldı */
    width: 100%;
}

:host ::ng-deep .p-progressbar .p-progressbar-value {
    background-color: #3c4962 !important;
}
